.root {
  display: flex;
  min-height: 200px;
  min-width: 320px;
}

@media screen and (max-width: 900px) {
  .root {
    width: 343px;
  }
}

@media screen and (max-width: 400px) {
  .root {
    min-width: 280px;
  }
}
